.header {
    position: relative;
    width: 10rem;
    height: 10rem;
    top: 0;
    left: 0;
}

.steps{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: relative;
    width: 10rem;
    height: 6px;
    left: 0;
    top: 1rem;
}

.steps .actualStep {
    position: relative;
    width: 4rem;
    height: 6px;
    background: linear-gradient(94.75deg, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0) 100.7%), #CD8B65;
    border-radius: 10px;
    margin: 0px 0.33rem;
}

.steps .step {
    position: relative;
    width: 1.25rem;
    height: 6px;
    background: #9F9F9F;
    opacity: 0.36;
    border-radius: 10px;
    margin: 0px 5px;
}

.mainname {
    position: relative;
    width: 552px;
    height: 104px;
    left: 0;
    top: 0.25rem;

    font-family: Hind;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 52px;
    letter-spacing: 0.01em;
    color: #000000;
}