.window {
    position: relative;
    margin: 17rem auto;
    width: 35rem;
    height: 12rem;
    background-color: #FFFFFF;
    z-index: 21;
    border-radius: 24px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.window h1 {
    width: 35rem;
    text-align: center;
    font-size: 1.5rem;
    position: relative;
    height: 4rem;
    line-height: 4rem;
}

.window button {
    border-radius: 100px;
    width: 9rem;
    height: 4rem;
    position: relative;
    background: linear-gradient(115.41deg, #CD8A64 -1.77%, #C4794F 73.03%);

}