.choose {
    width: 35rem;
    height: 29rem;
    position: relative;
}

.choose .mainchoose {
    width: 35rem;
    height: 10rem;
    top: 0;
    left: 0;
    position: relative;
    display: flex;
    flex-direction: row;
}

.shelter {
    position: relative;
    width: 17.5rem;
    padding: 1rem;
    background: #FAF9F9;
    border: 1px solid #CD8B65;
    box-sizing: border-box;
    border-radius: 24px 0px 0px 24px;
    color: #585757;

    
}

.shelter p {
    font-family: Public Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    margin-top: 0.25rem;
    width: 12rem;

}

.foundation {
    position: relative;
    width: 17.5rem;
    padding: 1rem;
    border-radius: 0px 24px 24px 0px;
    background: #FAF9F9;
    border: 1px solid #CD8B65;
    box-sizing: border-box;
    color: #585757;

}

.foundation p {
    font-family: Public Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    margin-top: 0.25rem;
    width: 10rem;

}

.shelter img,
.foundation img {
    width: 3.5rem;
}

.shelter, 
.foundation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.choose form {
    width: 35rem;
    height: 16rem;
    margin-top: 3rem;
    position: relative;
}

.choose form .select {
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 0.5rem;
}
.choose form .select label {
    box-sizing: border-box;
    margin: 0;
    left: 0.5rem;
    position: relative;
    font-family: Public Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 21px;
    color: #2F2F2F;

}

.choose form .select select {
    width: 33rem;
    height: 1.5rem;
    background: #FFFFFF;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    position: relative;
    left: 0.5rem;
    font-family: Public Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #9F9F9F;
    padding: 0;
}

.choose form .submit {
    width: 7rem;
    height: 3rem;
    background: linear-gradient(115.41deg, #CD8A64 -1.77%, #C4794F 73.03%);
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    border-radius: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: Public Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.choose .label {
    width: 35rem;
    height: 2rem;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.choose .label p {
    margin-bottom: 1rem;
    padding: 0;
}

.choose .label .about {
    position: relative;
    width: 17.5rem;
    text-align: left;
    font-family: Public Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #2F2F2F;
}
.choose .label .no {
    width: 17.5rem;
    position: relative;
    text-align: right;
    font-family: Public Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    color: #2F2F2F;
    opacity: 0.8;
}

.choose .price {
    width: 35rem;
    height: 1rem;
    text-align: left;
    font-family: Public Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #2F2F2F;
}


.choose form .pricebuttons {
    width: 35rem;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

.choose form .pricebuttons .button,
.choose form .pricebuttons .input {
    height: 2.75rem;
    position: relative;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 8px;

    font-family: Public Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 21px;
    color: #2F2F2F;
    flex-grow: 1;
    width: 1rem;
}

.choose form .pricebuttons .input {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
}

.choose form .pricebuttons .input input,
.choose form .pricebuttons .input p {
    position: relative;
    height: 1.33rem;
    box-sizing: border-box;
    font-family: Public Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    
}

.choose form .pricebuttons .input input {
    outline: none;
    border: none;
    border-bottom: 1px solid #C9C9C9;
    box-sizing: border-box;
    width: 4rem;
}

.choose form .pricebuttons .input p {
    width: 1rem;
}

.active {
    background: linear-gradient(180deg, #CD8B65 0%, #BB6B3D 100%);
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    color: #FFFFFF;
}

.activeButton {
    background: linear-gradient(115.41deg, #CD8A64 -1.77%, #C4794F 73.03%);
    color: #FFFFFF;
}

.deactiveButton {
    background: #FFFFFF;
    color: #2F2F2F;
}

.deactiveNextStepButton {
    width: 7rem;
    height: 3rem;
    background: #9F9F9F;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    border-radius: 100px;
    position: absolute;
    bottom: 0;
    right: 0;

    font-family: Public Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;

    justify-self: flex-end;
}