.form {
    width: 35rem;
    height: 29rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.form .about {
    font-family: Public Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    align-self: flex-start;
    color: #2F2F2F;
    margin-bottom: 0;

}

.form form {
    width: 35rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.form form .input {
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 0.5rem;
    width: 35rem;
    display: flex;
    flex-direction: column;

}
.form form .input label {
    box-sizing: border-box;
    margin: 0;
    left: 0.5rem;
    position: relative;
    font-family: Public Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 21px;
    color: #2F2F2F;

}

.form form .input input {
    width: 33rem;
    height: 1.5rem;
    background: #FFFFFF;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    position: relative;
    left: 0.5rem;
    font-family: Public Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #9F9F9F;
}

.form form .input .flag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form form .input .flag img {
    margin-left: 0.5rem;
    width: 23px;
}

.form form .buttons {
    padding: 0;
    margin: 0;
    margin-top: auto;
    width: 35rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.form form .buttons .back {
    background: #F3E2D9;
    border-radius: 100px;
    width: 4rem;
    font-family: Public Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    color: #2F2F2F;
}

.form form .buttons .send {
    width: 7rem;
    height: 3rem;
    background: #9F9F9F;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    border-radius: 100px;
    font-family: Public Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    justify-self: flex-end;
} 

.active{
    width: 7rem;
    height: 3rem;
    background: linear-gradient(115.41deg, #CD8A64 -1.77%, #C4794F 73.03%);
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    border-radius: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: Public Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}