.footer {
    position: fixed;
    width: 71.25rem;
    height: 8rem;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.footer .separator {
    position: absolute;
    width: 71.25rem;
    height: 3px;
    display: block;
    top: 0;
    background: rgba(47, 47, 47, 0.16);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.footer .logo {
    margin: auto;
    position: relative;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer .first,
.footer .second,
.footer .third {
    margin: auto;
    position: relative;
    width: 15rem;
    text-align: center;
}

.footer .third {
    align-self: flex-end;
}

.footer .about_info1 {
    position: relative;
    width: 10rem;
    font-family: Public Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 130%;
    text-align: left;
    color: #2F2F2F;
    margin-bottom: 0.5rem;
}

.footer .aboutmore_info1 {
    position: relative;
    width: 10rem;
    font-family: Public Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 200%;
    text-align: left;
    color: #585757;

}

.footer .about_info2 {
    position: relative;
    width: 10rem;
    font-family: Public Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 130%;
    text-align: left;
    margin-bottom: 0.5rem;
    color: #2F2F2F;
}
.footer .aboutmore_info2 {
    position: relative;
    width: 10rem;
    font-family: Public Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    text-align: left;
    color: #585757;

}

.footer .about_info3 {
    position: relative;
    width: 10rem;
    font-family: Public Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 130%;
    text-align: left;
    margin-bottom: 0.5rem;
    color: #2F2F2F;
}
.footer .aboutmore_info3 {
    position: relative;
    width: 10rem;
    font-family: Public Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    text-align: left;
    color: #585757;
}
