.navbar {
    position: relative;
    width: 100vw;
    height: 2rem;
    background: #FEFEFE;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08);
}

.navbar .main {
    width: 71.25rem;
    height: 2rem;
    margin: 0 auto;  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
}

.navbar .main .icons {
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
}

.navbar .nav {
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar .nav p {
    line-height: 2rem;
    font-family: Public Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;

    color: #9F9F9F;
}