.resultitem {
    width: 35rem;
}

.resultitem .name {
    font-family: Public Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    color: #2F2F2F;
}

.resultitem .text {
    font-family: Public Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #2F2F2F;
}

.resultitem p {
    margin: 0;
}